:root {
  --dark-color: #283765;
  --neutral-color: #8BA2D4;
  --light-color: #fafafa;
  --main-title-font: normal 700 1.125rem/1.25rem "MontserratBold";
  --main-subtitle-font: normal 700 0.875rem/1rem "MontserratBold";
  --main-text-bold-font: normal 700 0.75rem/0.875rem "MontserratBold";
  --main-text-medium-font: normal 500 0.6875rem/0.8125rem "MontserratMedium";
  --main-text-regular-font: normal 500 0.6875rem/0.8125rem "MontserratMedium";
  --aside-title-font: normal 700 1.25rem/1.4375rem "MontserratBold";
  --aside-subtitle-font: normal 700 1rem/1.125rem "MontserratBold";
  --aside-text-font: normal 500 0.75rem/0.875rem "MontserratMedium";
}
